:root {
    --main-color: hsl(0, 0%, 17%);
    --sup-color: hsl(0, 0%, 59%);
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Rubik", sans-serif;
    overflow-x: hidden;
}

.container-all {
    width: 100vw;
    min-height: 100vh;
    background-image: url(../images/pattern-bg.png);
}

.container-all header {
    display: flex;
    justify-content: center;
    animation-name: onload-page-header;
    animation-duration: 0;
    animation-fill-mode: forwards;
    transition: 0.2s;
}
.container-all header > div {
    margin-top: 15px;
}

.container-all header h1 {
    color: #fcfeff;
    font-weight: 700;
    font-size: 29px;
    text-align: center;
}

.container-all header form {
    margin-top: 25px;
    border-radius: 10px;
    margin-left: 52px;
}

.container-all header form input {
    color: var(--sup-color);
    font-weight: 500;
    height: 39px;
}

.container-all header form input:focus {
    color: var(--main-color);
    font-weight: 500;
    transition: 0.2s linear;
}

.container-all header form input,
button {
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.2s linear;
}

.container-all header form button {
    background-color: var(--main-color);
    position: relative;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    cursor: pointer;
}

.container-all header form button:hover {
    background-color: var(--sup-color);
    transition: 0.2s linear;
}

.container-all .popup {
    width: 199px;
    background-color: #5c7fe9;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 27%;
    padding: 22px;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: 700;
    opacity: 0;
    transition: 0.3s ease;
}

.container-all .container-info {
    margin: 0 auto;
    border-radius: 10px;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
    position: relative;
    z-index: 999;
    animation-fill-mode: forwards;
    transform: translateX(112%);
}

.container-all .container-info > div {
    margin-top: -10px;
    position: relative;
    word-break: break-all;
}

.container-all .container-info > div:not(:first-child)::before {
    content: "";
    position: absolute;
    width: 1px;
    height: 60px;
    background-color: var(--sup-color);
    left: -38px;
    top: 15%;
    opacity: 0.5;
}

.container-all .container-info > div h6 {
    text-transform: uppercase;
    color: var(--sup-color);
}

.container-all .container-info > div h2 {
    font-weight: 700;
}

.container-map {
    background-color: transparent;
}

.animation-header {
    animation-name: header !important;
    animation-duration: 0.3s !important;
    animation-timing-function: linear !important;
    animation-fill-mode: forwards !important;
}

.show-popup {
    opacity: 1 !important;
    animation: popup 0.5s linear;
    animation-iteration-count: 5;
}

footer {
    display: flex;
    justify-content: center;
    letter-spacing: 3px;
    color: #fff;
}
footer a {
    margin-left: 3px;
    color: inherit;
    text-decoration: none;
    transition: 0.3s;
    letter-spacing: 4px;
}
footer a:hover {
    color: var(--sup-color);
    transition: 0.3s;
}

@keyframes popup {
    0% {
        transform: translate(4px);
    }
    100% {
        transform: translate(-10px);
    }
}

@keyframes header {
    0% {
        transform: translateY(170%);
    }
    10% {
        transform: translateY(150%);
    }
    30% {
        transform: translateY(130%);
    }
    60% {
        transform: translateY(100%);
    }
    70% {
        transform: translateY(70%);
    }
    80% {
        transform: translateY(50%);
    }
    90% {
        transform: translateY(20%);
    }
    100% {
        transform: translateY(3%) !important;
    }
}

@keyframes onload-page-header {
    100% {
        transform: translateY(150%);
    }
}

@keyframes info {
    0% {
        transform: translateX(112%);
    }
    10% {
        transform: translateX(100%);
    }
    20% {
        transform: translateX(80%);
    }
    40% {
        transform: translateX(60%);
    }
    80% {
        transform: translateX(40%);
    }
    90% {
        transform: translateX(20%);
    }
    100% {
        transform: translateX(0);
    }
}

/* responsive */

@media (min-width: 350px) {
    .container-all header form {
        margin-left: 20px;
        width: 90vw;
        display: flex;
        justify-content: center;
    }
    .container-all header form input {
        width: 270px;
        font-size: 10px;
        padding: 5px;
        font-weight: 900;
    }
    .container-all header form button {
        width: 35px;
        margin-left: -27px;
        height: 40px;
    }
    .container-all .container-info {
        width: 100vw;
        margin-top: -25px;
        justify-content: space-between;
        flex-wrap: wrap !important;
        height: 160px;
        border-radius: 7px !important;
    }
    .container-all .container-info > div {
        width: 140px;
        padding: 10px;
    }
    .container-all .container-info > div h6 {
        font-size: 13px;
        margin-top: 10px;
    }
    .container-all .container-info > div h2 {
        margin-top: 10px;
        font-size: 16px;
        line-height: 22px;
    }
    .container-map {
        height: 90vh;
    }
    footer {
        margin-top: 7px;
        font-size: 12px;
        padding: 5px;
    }
}

@media (min-width: 420px) {
    .container-all header form input {
        width: 320px;
    }

    .container-all .container-info {
        width: 90vw;
        border-radius: 10px;
    }
    .container-all .container-info > div {
        width: 170px;
    }
}

@media (min-width: 507px) {
    .container-all header form input {
        width: 340px;
    }

    .container-all .container-info > div {
        width: 200px;
    }
}

@media (min-width: 667px) {
    .container-all header form input {
        width: 400px;
    }
    .container-all .container-info > div {
        width: 220px;
    }
}

@media (min-width: 720px) {
    .container-all header form input {
        width: 400px;
    }
    .container-all .container-info {
        width: 95vw;
    }
    .container-all .container-info > div {
        width: 170px;
    }
}

@media (min-width: 820px) {
    .container-all header form input {
        width: 515px;
        font-size: 18px;
        padding: 24px;
    }
    .container-all header form button {
        width: 50px;
        left: -17px;
        height: 49px;
    }
    .container-all .container-info {
        width: 90vw;
        padding: 25px;
        margin-top: -15px;
    }
    .container-all .container-info > div h6 {
        letter-spacing: 1px;
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 20px;
    }
    .container-all .container-info > div h2 {
        font-size: 20px;
    }
    .container-map {
        height: 70vh;
        margin-bottom: 10px;
    }
    footer {
        font-size: 15px;
        margin-top: 50px;
        font-weight: 900;
    }
}
